{{#if addNewPost}}
  <h1>New Post</h1>
  <div>
    <form>
      <div class="form-group">
        Date:
        <br>{{input value=date id="date"}}
      </div>

      <div class="form-group">
        Category:
        <br>{{input value=category id="category"}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input class="form-control" value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="body">Body</label>
        {{textarea class="form-control" value=body id="body"}}
      </div>
      <button {{action 'save1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'postFormShow'}}>New Post</button>
{{/if}}
