<div>
  <h3>{{post.title}} - {{post.date}} - {{post.category}}</h3>
  <br>
  <p>{{post.body}}</p>
  {{update-post post=post update="update"}}
  <button {{action 'delete' post}}>Delete Post</button>
  <hr>
</div>
