{{#each sortedPosts as |post|}}
  <div>
    {{#link-to 'post' post.id}}<h3>{{post.title}} - {{post.date}} - {{post.category}}</h3>{{/link-to}}
    <br>
    <p>{{post.body}}</p>
    {{post.comments.length}} comments
    <hr>
  </div>
{{/each}}
